<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition Panel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
    <div class="content">
        <div class="text">
            Face Recognition Panel
         </div>

    <!-- Button to navigate to Page 2 -->

    <form action="/fr_image">
        <button type="submit" value="Face Identification" class="submit">Image </button>
    </form>

    <form action="/fr_open_camera">
        <button type="submit" value="Face Identification" class="submit">Real-time </button>
    </form>

    <form action="/fr_record">
        <button type="submit" value="Face Identification" class="submit">Upload Video</button>
    </form>

    <form action="/admin_panel">
        <button type="submit" value="Face Identification" class="submit">Back</button>
    </form>
</body>
</html>
